@page "/BookingRoom"
@using Microsoft.AspNetCore.Http;
@model Project_Group5.Pages.Rooms.PreOrderModel
@using Project_Group5.Models
@{
    var SelectedRooms = Model.SelectedRooms;
    var isLoggedIn = User.Identity.IsAuthenticated;

    <link href="~/css/pre_order.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
}
<div class="container mt-4">
    <!-- Booking Information -->
    <div class="card mb-4">
        <div class="card-body">
            <p><strong>Nhận phòng:</strong> @Model.CheckinDate</p>
            <p><strong>Trả phòng:</strong> @Model.CheckoutDate</p>
            <p><a href="#">(Bạn có muốn thay đổi ngày lưu trú?)</a></p>
            <div class="card mb-4">
                <div class="card-body">
                    <form method="get" id="updateDatesForm">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="checkinDate" class="form-label"><strong>Nhận phòng:</strong></label>
                                <input type="date" class="form-control" id="checkinDate" name="CheckinDate" value="@Model.CheckinDate.ToString("yyyy-MM-dd")" onchange="updateDates()">
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="checkoutDate" class="form-label"><strong>Trả phòng:</strong></label>
                                <input type="date" class="form-control" id="checkoutDate" name="CheckoutDate" value="@Model.CheckoutDate.ToString("yyyy-MM-dd")" onchange="updateDates()">
                            </div>
                        </div>
                        <input type="hidden" asp-for="PromoCode" value="@Model.PromoCode"/>
                        <input type="hidden" asp-for="SDiscount" value="@Model.SDiscount"/>
                        <input type="hidden" name="roomData" value="@Model.SelectedRoomsJson" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Room Details Section -->
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Chi tiết đặt phòng</h5>
                    @if (SelectedRooms != null)
                    {
                        @foreach (var r in SelectedRooms)
                        {
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <div class="col-md-4">
                                    <h6>@r.Name</h6>
                                    <p class="flash-sales">Không hoàn trả tiền khi hủy phòng</p>
                                    <p>Chi tiết: @r.RoomList.Count phòng, @Model.StayDuration ngày</p>
                                </div>
                                <form method="post" asp-page-handler="ChangeRoomNum" class="col-md-2">
                                    <input type="hidden" name="roomTypeId" value="@r.Id" />
                                    <input type="hidden" name="CheckinDate" value="@Model.CheckinDate" />
                                    <input type="hidden" name="CheckoutDate" value="@Model.CheckoutDate" />
                                    <input type="hidden" asp-for="Discount" value="@Model.Discount" />
                                    <input type="hidden" asp-for="PromoCode" value="@Model.PromoCode"/>
                                    <input type="hidden" asp-for="SDiscount" value="@Model.SDiscount"/>
                                    <input type="hidden" asp-for="StayDuration" value="@Model.StayDuration" />

                                    <p>Số phòng</p>
                                    <select class="form-select" name="roomCount" onchange="this.form.submit()">
                                        @for (int i = 1; i <= r.AvailableRoom; i++)
                                        {
                                            <option selected="@(i == r.RoomList.Count ? "selected" : null)" value="@i">
                                                @i phòng
                                            </option>
                                        }
                                    </select>
                                </form>
                                <div class="col-md-4">
                                    @foreach (var ri in r.RoomList)
                                    {
                                        <form method="post" asp-page-handler="ChangeBookingInfo" class="d-flex align-items-center">
                                            <input type="hidden" name="roomId" value="@ri.RoomId" />
                                            <input type="hidden" name="roomTypeId" value="@r.Id" />
                                            <input type="hidden" name="CheckinDate" value="@Model.CheckinDate" />
                                            <input type="hidden" name="CheckoutDate" value="@Model.CheckoutDate" />
                                            <input type="hidden" asp-for="StayDuration" value="@Model.StayDuration" />
                                            <input type="hidden" asp-for="Discount" value="@Model.Discount" />
                                            <input type="hidden" asp-for="PromoCode" value="@Model.PromoCode"/>
                                            <input type="hidden" asp-for="SDiscount" value="@Model.SDiscount"/>
                                            
                                            <div class="me-2">
                                                <p>Số lượng khách</p>
                                                <select class="form-select" name="AdultCount" onchange="this.form.submit()">
                                                    <option selected="@(ri.AdultCount == r.Bed ? "selected" : null)" value="@r.Bed">
                                                        @r.Bed người lớn
                                                    </option>
                                                    @for (int i = 1; i <= r.Bed - 1; i++)
                                                    {
                                                        <option value="@r.Bed">
                                                            @(r.Bed - i) người lớn @((i == 0) ? "" : $", {i} trẻ em")
                                                        </option>
                                                        <option value="@(r.Bed - i)" selected="@(ri.AdultCount == i ? "selected" : null)">
                                                            @(r.Bed - i) người lớn
                                                        </option>
                                                    }
                                                </select>
                                            </div>
                                            <div>
                                                <p>Trẻ em</p>
                                                <select class="form-select" name="ChildrenCount" onchange="this.form.submit()">
                                                    @for (int i = 0; i <= r.Bed; i++)
                                                    {
                                                        <option value="@i" selected="@(ri.ChildrenCount == i ? "selected" : null)">
                                                            @i trẻ em
                                                        </option>
                                                    }
                                                </select>
                                            </div>
                                        </form>
                                    }
                                </div>
                                <div class="col-md-2 text-end">
                                    <p><strong>@String.Format("{0:N0}", CalculateTotalPrice(r)) VND</strong></p>
                                </div>
                            </div>
                            <hr />
                        }
                    }
                    <div class="d-flex justify-content-between total-price">

                        <p><strong>Tổng giá trị</strong></p>
                        @{
                            var totalPrice = CalculateTotalAmount(SelectedRooms);
                        }
                        <p><strong>@String.Format("{0:N0}", totalPrice*(1-Model.Discount/100)) VND</strong></p>
                        @if (Model.Discount != null && Model.Discount > 0)
                        {
                        <p>Đã giảm: @((totalPrice*Model.Discount/100).ToString("N0")) VND</p>
                        }
                    </div>
                </div>
            </div>
        </div>

        <!-- Guest Information Section -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <form id="preorderForm" method="post" asp-page-handler="PreOrder">
                        <input type="hidden" asp-for="CheckinDate" id="hidden-checkin-date" value="@Model.CheckinDate" />
                        <input type="hidden" asp-for="CheckoutDate" id="hidden-checkout-date" value="@Model.CheckoutDate" />
                        <input type="hidden" asp-for="TotalAmount" id="hidden-checkout-date" value="@CalculateTotalAmount(SelectedRooms)" />
                        <input type="hidden" asp-for="StayDuration" value="@Model.StayDuration" />
                        <input type="hidden" asp-for="Discount" value="@Model.Discount" />
                        <input type="hidden" asp-for="PromoCode" value="@Model.PromoCode"/>
                        <input type="hidden" asp-for="SDiscount" value="@Model.SDiscount"/>

                        @if (!isLoggedIn)
                        {
                            <h5 class="card-title">Thông tin khách</h5>
                            <div class="mb-3">
                                <label for="name" class="form-label">Họ và tên</label>
                                <input type="text" class="form-control" asp-for="Name" placeholder="Họ và tên" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="phone" class="form-label">Số điện thoại</label>
                                <input type="text" class="form-control" asp-for="Phone" placeholder="Phone" />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" asp-for="Email" placeholder="Địa chỉ Email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label for="dob" class="form-label">Ngày sinh</label>
                                <input type="date" class="form-control" asp-for="Dob" placeholder="Ngày sinh" />
                                <span asp-validation-for="Dob" class="text-danger"></span>
                            </div>
                            
                            <strong>
                                <button class="btn btn-primary w-100" type="submit">Đặt phòng</button>
                            </strong>
                        }
                        else
                        {
                            <span>
                                <strong>
                                    <button class="btn btn-primary w-100" type="submit">Đặt phòng</button>
                                </strong>
                            </span>
                        }

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@functions {
    private double CalculateTotalPrice(RoomData? roomData)
    {
        if(roomData != null)
        {
            double totalPrice = 0;
            foreach (var ri in roomData.RoomList)
            {
                double roomPrice = roomData.Price;

                // Adjust the price if the total number of people exceeds the room's bed capacity
                if (ri.ChildrenCount + ri.AdultCount > roomData.Bed)
                {
                    roomPrice += roomData.Price * (ri.ChildrenCount + ri.AdultCount - roomData.Bed) * 0.3;
                }

                // Multiply by the stay duration to get the total price for the entire stay
                totalPrice += roomPrice * Model.StayDuration;
            }
            return totalPrice;
        }
        return 0;
    }
    
    private decimal CalculateTotalAmount(IEnumerable<RoomData>? selectedRooms)
    {
        if(selectedRooms != null)
        {
            decimal total = 0;
            foreach (var room in selectedRooms)
            {
                total += (decimal)CalculateTotalPrice(room);
            }
            return total;
        }
        return 0;
    }

}
@section Scripts {
    <script>
        function updateDates() {
            var checkinDate = document.getElementById('checkinDate').value;
            var checkoutDate = document.getElementById('checkoutDate').value;

            if (checkinDate && checkoutDate) {
                if (new Date(checkinDate) >= new Date(checkoutDate)) {
                    alert('Check-out date must be after check-in date');
                    return;
                }
                document.getElementById('updateDatesForm').submit();
            }
        }
    </script>
}